.alert {
  position: relative;
  padding: 1rem 1rem;
  border: 3px solid var(--bs-alert-border-color);
  border-radius: 0.25rem;
  animation-fill-mode: forwards !important;
  animation-delay: 1.0s !important;
  transition: border-width 1s linear;

  a {
    font-weight: 700;
    position: relative;
    text-decoration: none;
  }
}

.alert a::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0px;
  bottom: 0px;
  animation: 1.6s ease-in alert-link-animation;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.alert-heading {
  color: inherit;
}

@keyframes alert-link-animation {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.alert-dismissible {
  padding-right: 3rem;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}
