.pat-autotoc.autotabs {
    .autotoc-nav {
        margin-bottom: $spacer;
    }
}


label .required:after,
label.required:after {
    color: $danger;
    content: '•';
    font-size:$font-size-lg;
    line-height: 1;
}

/* invalid-feedback */
.field.error .invalid-feedback {
    display:block;
}

.form-group {
    .select2-container {
        display:block;
    }
}

.formControls {
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer * 0.5;
}

/* relateditems widget */
.pattern-relateditems-result {
    .pattern-relateditems-result-browse-wrapper {
        .pattern-relateditems-result-browse {
            font-size: $font-size-base;
        }
    }
}

.select2-results .select2-highlighted {
    color:$link-hover-color;
}

.pattern-relateditems-item-title,
.pattern-relateditems-result-title {
    &, &[class*="contenttype-"]:before {
        font-size: $font-size-lg;
    }
}

// Diff styles for CMFEditions from old compare.css
.inline-diff {
    font-size: 100%;
    padding: 1em;
}

.diff-head {
    padding-bottom: 1em
}

.diff-legend-label {
    border-style: solid;
    border-width: 1px;
    text-align: center
}

#diff-legend {
    position: relative;
}

#diff-table {
    float: right;
    width: 22.5em;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.delete {
    background-color: #ffaaaa;
    padding: 0px 2px 0px 2px;
}

.insert {
    background-color: #aaffaa;
    padding: 0px 2px 0px 2px;
}

.tagInsert {
    background-color: #007700;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    color: #ffffff
}

.tagDelete {
    background-color: #770000;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    color: #ffffff
}

.diff_header {
    background-color:#e0e0e0;
}

td.diff_header {
    text-align:right;
}
.diff_next {
    background-color:#c0c0c0;
}

.diff_add {
    background-color:#aaffaa;
}

.diff_chg {
    background-color:#ffff77;
}

.diff_sub {
    background-color:#ffaaaa;
}
