// // DEBUG MEDIA QUERIES
// @include media-breakpoint-up($nav-main-breakpoint) {
//   #content-header::before {
//     content: "main";
//     position: sticky;
//     top: 1em;
//     left: 0;
//   }
// }
// @include media-breakpoint-up(xs) {
//   body::before {
//     content: "xs";
//     position: sticky;
//     top: 0;
//     left: 0;
//   }
// }
// @include media-breakpoint-up(sm) {
//   body::before {
//     content: "sm";
//     position: sticky;
//     top: 0;
//     left: 0;
//   }
// }
// @include media-breakpoint-up(md) {
//   body::before {
//     content: "md";
//     position: sticky;
//     top: 0;
//     left: 0;
//   }
// }
// @include media-breakpoint-up(lg) {
//   body::before {
//     content: "lg";
//     position: sticky;
//     top: 0;
//     left: 0;
//   }
// }

//*// HEADER //*//

#content-header {}

#portal-top {
  display: flex;
  justify-content: flex-end;
  margin-top: $spacer *.5;
  @include media-breakpoint-up($nav-main-breakpoint) {
    margin-bottom:  0;
}
}



#portal-header {
  display: flex;
  justify-content: flex-end;
//   flex-wrap: wrap-reverse;
//   flex-direction: row-reverse;
//   margin: $spacer * 1.25 auto $spacer * 1.25;

//   @include media-breakpoint-up($nav-main-breakpoint) {
//     position: relative;
//     @include make-row(0rem);
//     margin: $spacer * 1.25 auto $spacer * 1.25;
//     flex-wrap: wrap-reverse;
//   }
}

#portal-logo-wrapper {
  align-items: center;
}
#portal-logo {
  // order: -1;
  flex-grow: 1;
  // width: 100%;
  margin-top: $spacer;
  margin-bottom: $spacer;

  // @include media-breakpoint-up(md) {
  //   width: 50%;
  // }
}

#portal-languageselector {
  display: inline-block;
  margin-bottom: 0;
  padding: 5px 0 0 0;
  list-style: none;
  margin-left: $spacer;

  li {
    display: inline-block;
    margin-left: 10px;
  }
}

#portal-anontools {
  padding-top: 5px;
  margin-left: $spacer;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-right: 10px;
    }
  }
}

#portal-membertools-wrapper {
  margin-top: 5px;
  margin-left: $spacer * 1.5;
  margin-right: $spacer * 0.5;

  ul {
    margin: 0 0 $spacer $spacer;
    padding-right: 0;
  }
}

.livesearch-results {
      @include media-breakpoint-up($nav-main-breakpoint) {
        position: absolute;
        z-index: $zindex-offcanvas + 1;
        @if $enable-shadows==true {
          @include box-shadow($box-shadow);
        }
      }
  }
