.alert {
  position: relative;
  padding: 1rem 1rem;
  border: 3px solid transparent;
  border-radius: 0.25rem;
  animation-fill-mode: forwards !important;
  animation-delay: 2s !important;
  transition: border-width 0.6s linear;
  a {
      font-weight: 700;
      position: relative;
      text-decoration: none;
    }
}
.alert a::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0px;
    bottom: 0px;
    animation: 1.5s ease-in alert-link-animation;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
}
.alert-heading {
  color: inherit;
}

@keyframes alert-link-animation{
    0% {
        width:0%;
        opacity:0;
    }
    100% {
        width:100%;
        opacity:1;
    }
}
.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;

}

.alert-primary {
  color: $cyan-800;
  background-color: $cyan-300;
  animation: 2s ease-in alert-primary-animation;
}
.alert-primary a {
  color: $cyan-800;
}
.alert-primary a::after {
  background-color: $cyan-800;
}
@keyframes alert-primary-animation{
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid $cyan-400;
    }
}

.alert-secondary {
  color: $gray-700;
  background-color: $gray-200;
  animation: 2s ease-in alert-secondary-animation;
}
.alert-secondary a {
  color: $gray-700;
}
.alert-secondary a::after {
  background-color: $gray-700;
}
@keyframes alert-secondary-animation{
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid $gray-300;
    }
}

.alert-success {
  color: $green-700;
  background-color: $green-200;
  animation: 2s ease-in alert-success-animation;
}
.alert-success a {
  color: $green-700;
}
.alert-success a::after {
  background-color: $green-700;
}
@keyframes alert-success-animation{
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid $green-300;
    }
}

.alert-info {
  color: $cyan-700;
  background-color: $cyan-200;
  animation: 2s ease-in alert-info-animation;
}
.alert-info a {
  color: $cyan-700;
}
.alert-info a::after {
  background-color: $cyan-700;
}
@keyframes alert-info-animation{
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid $cyan-300;
    }
}

.alert-warning {
  color: $orange-700;
  background-color: $orange-200;
  animation: 2s ease-in alert-warning-animation;
}
.alert-warning a {
  color: $orange-700;
}
.alert-warning a::after {
  background-color: $orange-700;
}
@keyframes alert-warning-animation{
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid $orange-300;
    }
}

.alert-danger {
  color: $red-700;
  background-color: $red-200;
  animation: 2s ease-in alert-danger-animation;
}
.alert-danger a {
  color: $red-700;
}
.alert-danger a::after {
  background-color: $red-700;
}
@keyframes alert-danger-animation{
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid $red-300;
    }
}

.alert-light {
  color: $gray-600;
  background-color: $gray-100;
  animation: 2s ease-in alert-light-animation;
}
.alert-light a {
  color: $gray-600;
}
.alert-light a::after {
  background-color: $gray-600;
}
@keyframes alert-light-animation{
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid $gray-200;
    }
}

.alert-dark {
  color: $gray-900;
  background-color: $gray-400;
  animation: 2s ease-in alert-dark-animation;
}
.alert-dark a {
  color: $gray-900;
}
.alert-dark a::after {
  background-color: $gray-900;
}
@keyframes alert-dark-animation{
    0% {
        border: 3px solid transparent;
    }
    100% {
        border: 3px solid $gray-500;
    }
}
