// Use this file as base for base styling
// for example to use with backend.xml

// Bootstrap - imported with --load-path=node_modules
@import "bootstrap/scss/bootstrap";

// Plone backend or minimal styles
@import "alerts";
@import "forms";
@import "controlpanels";
@import "login";
@import "grid";
