@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: none !important;
    box-shadow: none !important;
  }

  #content-header,
  #edit-zone,
  #mainnavigation-wrapper,
  #portal-breadcrumbs,
  #portal-footer-wrapper,
  #portal-personaltools,
  #portal-searchbox,
  .link-https .sidebar-offcanvas {
    display: none;
    visibility: hidden;
  }
}
