//*// ALERTS //*//

@mixin portalMessage-variant($background, $border, $text-color) {
	background-color: $background;
	border: $border;
	color: $text-color;
	> strong, > dt { color: fade($text-color, 67%);}
}

.alert.status,
.portalMessage {
	padding: $plone-alert-padding;
	padding-left: $plone-alert-padding*3;
	margin-bottom: $plone-line-height-computed;
	border: 0;
	border-radius: $plone-alert-border-radius;
	box-shadow: 0 1px 2px rgba(0,0,0,.17);
	font-size: $plone-font-size-base;
	font-weight: $plone-font-weight-regular;
	text-shadow: 0 1px rgba(255,255,255,.1);
	> strong, > dt {
		font-weight: $plone-font-weight-bold;
		padding-right: $plone-alert-padding/3;
		color: darken($plone-alert-info-text, 10%)
	}
	a {
		font-weight: $plone-alert-link-font-weight;
		color: darken($plone-link-color, 12%);
	}
	> strong::before, > dt::before { 
		font-size:$plone-font-size-base; 
		font-weight: $plone-font-weight-regular; 
		margin-left: -30px;
		margin-right: 10px;
		display: inline-block; 
		border-radius: $plone-alert-icon-size;
		text-align:center;
		color:rgba(255, 255, 255, 0.9); 
		width:$plone-alert-icon-size; 
		height:$plone-alert-icon-size;
		line-height: $plone-alert-icon-size; //IE fix
		text-shadow: 0 -1px rgba(0,0,0,.5);
		top: -1px;
		position: relative;
	}
	> dt, > dd { display: inline;}
	> dd {margin: 0;}

    &.alert-none {
        box-shadow: none;
    }
    &.alert-success,
    &.info {
	    @include portalMessage-variant($plone-alert-info-bg, $plone-alert-info-border, $plone-alert-info-text);
        & > strong::before, & > dt::before {background-color: $plone-alert-info-bullet; content:"i";}
    }
    &.alert-warning,
    &.warning {
	    @include portalMessage-variant($plone-alert-warning-bg, $plone-alert-warning-border, $plone-alert-warning-text);
        & > strong::before, & > dt::before {background-color: $plone-alert-warning-bullet; content:"!";}
    }
    &.alert-error,
    &.error {
	    @include portalMessage-variant($plone-alert-error-bg, $plone-alert-error-border, $plone-alert-error-text);
        & > strong::before, & > dt::before {background-color: $plone-alert-error-bullet; content:"×";}
    }
}
.portlet .portletContent > .portalMessage {
	padding: $plone-alert-padding;
	padding-left: $plone-alert-padding*3;
	margin:15px;
}

@keyframes "alert-link-animation" {
	0% {
		width: 0%;
		opacity: 0;
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}
@keyframes "alert-primary-animation" {
	0% {
		border: 3px solid transparent;
	}
	100% {
		border: 3px solid #b3d7e8;
	}
}
@keyframes "alert-secondary-animation" {
	0% {
		border: 3px solid transparent;
	}
	100% {
		border: 3px solid #d3d6d8;
	}
}
@keyframes "alert-success-animation" {
	0% {
		border: 3px solid transparent;
	}
	100% {
		border: 3px solid #badbcc;
	}
}
@keyframes "alert-info-animation" {
	0% {
		border: 3px solid transparent;
	}
	100% {
		border: 3px solid #a3d7e1;
	}
}
@keyframes "alert-warning-animation" {
	0% {
		border: 3px solid transparent;
	}
	100% {
		border: 3px solid #ffecb5;
	}
}
@keyframes "alert-danger-animation" {
	0% {
		border: 3px solid transparent;
	}
	100% {
		border: 3px solid #f5c2c7;
	}
}
@keyframes "alert-light-animation" {
	0% {
		border: 3px solid transparent;
	}
	100% {
		border: 3px solid #fdfdfe;
	}
}
@keyframes "alert-dark-animation" {
	0% {
		border: 3px solid transparent;
	}
	100% {
		border: 3px solid #bcbebf;
	}
}
.alert {
	position: relative;
	padding: 1rem 1rem;
	border: 3px solid transparent;
	border-radius: 0.25rem;
	animation-fill-mode: forwards !important;
	animation-delay: 2s !important;
	transition: border-width 0.6s linear;
	a {
		&::after {
			content: '';
			position: absolute;
			height: 2px;
			left: 0px;
			bottom: 0px;
			animation: 1.5s ease-in alert-link-animation;
			animation-delay: 4.5s;
			animation-fill-mode: forwards;
		}
	}
}
.alert-heading {
	color: inherit;
}
a {
	font-weight: 700;
	position: relative;
	text-decoration: none;
}
.alert-dismissible {
	padding-right: 3rem;
	.btn-close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		padding: 1.25rem 1rem;
	}
}
.alert-primary {
	color: #004a6a;
	background-color: #cce5ef;
	animation: 2s ease-in alert-primary-animation;
	a {
		color: #003b55;
		&::after {
			background-color: #003b55;
		}
	}
}
.alert-secondary {
	color: #41464b;
	background-color: #e2e3e5;
	animation: 2s ease-in alert-secondary-animation;
	a {
		color: #34383c;
		&::after {
			background-color: #34383c;
		}
	}
}
.alert-success {
	color: #0f5132;
	background-color: #d1e7dd;
	animation: 2s ease-in alert-success-animation;
	a {
		color: #0c4128;
		&::after {
			background-color: #0c4128;
		}
	}
}
.alert-info {
	color: #055160;
	background-color: #cff4fc;
	animation: 2s ease-in alert-info-animation;
	a {
		color: #04414d;
		&::after {
			background-color: #04414d;
		}
	}
}
.alert-warning {
	color: #664d03;
	background-color: #fff3cd;
	animation: 2s ease-in alert-warning-animation;
	a {
		color: #523e02;
		&::after {
			background-color: #523e02;
		}
	}
}
.alert-danger {
	color: #842029;
	background-color: #f8d7da;
	animation: 2s ease-in alert-danger-animation;
	a {
		color: #6a1a21;
		&::after {
			background-color: #6a1a21;
		}
	}
}
.alert-light {
	color: #636464;
	background-color: #fefefe;
	animation: 2s ease-in alert-light-animation;
	a {
		color: #4f5050;
		&::after {
			background-color: #4f5050;
		}
	}
}
.alert-dark {
	color: #141619;
	background-color: #d3d3d4;
	animation: 2s ease-in alert-dark-animation;
	a {
		color: #101214;
		&::after {
			background-color: #101214;
		}
	}
}

/* special octogonal shape for error
.alert.status.alert-error,
.portalMessage.error {
	& > strong::before, & > dt::before {
		border-radius: 8px; //soften border
		background: $plone-alert-error-bullet;
		background:
			linear-gradient(135deg, transparent 4px, $plone-alert-error-bullet 0) top left,
			linear-gradient(225deg, transparent 4px, $plone-alert-error-bullet 0) top right,
			linear-gradient(315deg, transparent 4px, $plone-alert-error-bullet 0) bottom right,
			linear-gradient(45deg,  transparent 4px, $plone-alert-error-bullet 0) bottom left;
		background-size: 50% 50%;
		background-repeat: no-repeat;
	}
}
*/
