*.py
*.rst
.vscode/
/news/
/node_modules/
/plonetheme.barceloneta.egg-info/
/plonetheme/
/scss/legacy/
CHANGES.rst
CONTRIBUTING.rst
MANIFEST.in
NOTES_TO_DO.rst
NPM_RELEASE.rst
README.rst 
index.html
pyproject.toml
setup.cfg
setup.py