
.icon-user:before { content: '\e800'; } /* '' */
.icon-folderContents:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-grantAccess:before { content: '\e804'; } /* '' */
.icon-contentRules:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e806'; } /* '' */
.icon-view:before { content: '\e807'; } /* '' */
.icon-collection:before { content: '\e808'; } /* '' */
.icon-event:before { content: '\e809'; } /* '' */
.icon-addNew:before { content: '\e80a'; } /* '' */
.icon-contentInfo:before { content: '\e80b'; } /* '' */
.icon-workflow:before { content: '\e80c'; } /* '' */
.icon-moreOptions:before { content: '\e80d'; } /* '' */
.icon-document:before { content: '\e80e'; } /* '' */
.icon-news:before { content: '\e80f'; } /* '' */
.icon-image:before { content: '\e810'; } /* '' */
.icon-file:before { content: '\e811'; } /* '' */
.icon-addon:before { content: '\e812'; } /* '' */
.icon-datetime:before { content: '\e813'; } /* '' */
.icon-caching:before { content: '\e814'; } /* '' */
.icon-markup:before { content: '\e815'; } /* '' */
.icon-editing:before { content: '\e816'; } /* '' */
.icon-errors:before { content: '\e817'; } /* '' */
.icon-imageHandling:before { content: '\e818'; } /* '' */
.icon-filtering:before { content: '\e819'; } /* '' */
.icon-language:before { content: '\e81a'; } /* '' */
.icon-dexterityTypes:before { content: '\e81b'; } /* '' */
.icon-mail:before { content: '\e81c'; } /* '' */
.icon-maintenance:before { content: '\e81d'; } /* '' */
.icon-navigation:before { content: '\e81e'; } /* '' */
.icon-search:before { content: '\e81f'; } /* '' */
.icon-security:before { content: '\e820'; } /* '' */
.icon-theming:before { content: '\e821'; } /* '' */
.icon-rss:before { content: '\e822'; } /* '' */
.icon-siteSettings:before { content: '\e823'; } /* '' */
.icon-userGroups:before { content: '\e824'; } /* '' */
.icon-zope:before { content: '\e825'; } /* '' */
.icon-types:before { content: '\e826'; } /* '' */