@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?67750634');
  src: url('../font/fontello.eot?67750634#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?67750634') format('woff'),
       url('../font/fontello.ttf?67750634') format('truetype'),
       url('../font/fontello.svg?67750634#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67750634#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e807'; } /* '' */
.icon-resize-horizontal:before { content: '\e804'; } /* '' */
.icon-login:before { content: '\e80e'; } /* '' */
.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-up-dir:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e80a'; } /* '' */
.icon-ellipsis:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-dot-circled:before { content: '\e809'; } /* '' */
.icon-info-circled:before { content: '\e811'; } /* '' */
.icon-login-1:before { content: '\e810'; } /* '' */
.icon-spread:before { content: '\e80f'; } /* '' */
.icon-group:before { content: '\e808'; } /* '' */
.icon-view-mode:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-folder-open:before { content: '\e803'; } /* '' */
.icon-resize-vertical:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */