@font-face {
  font-family: "Roboto";
  src: url("roboto/roboto-light.eot");
  src: local("Roboto Light"), url("roboto/roboto-light.eot?#iefix") format("embedded-opentype"), url("roboto/roboto-light.woff2") format("woff2"), url("roboto/roboto-light.woff") format("woff"), url("roboto/roboto-light.ttf") format("truetype"), url("roboto/roboto-light.svg#robotolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/roboto-lightitalic.eot");
  src: local("Roboto Light Italic"), url("roboto/roboto-lightitalic.eot?#iefix") format("embedded-opentype"), url("roboto/roboto-lightitalic.woff2") format("woff2"), url("roboto/roboto-lightitalic.woff") format("woff"), url("roboto/roboto-lightitalic.ttf") format("truetype"), url("roboto/roboto-lightitalic.svg#robotolight_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/roboto-regular.eot");
  src: local("Roboto Regular"), url("roboto/roboto-regular.eot?#iefix") format("embedded-opentype"), url("roboto/roboto-regular.woff2") format("woff2"), url("roboto/roboto-regular.woff") format("woff"), url("roboto/roboto-regular.ttf") format("truetype"), url("roboto/roboto-regular.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/roboto-italic.eot");
  src: local("Roboto Italic"), url("roboto/roboto-italic.eot?#iefix") format("embedded-opentype"), url("roboto/roboto-italic.woff2") format("woff2"), url("roboto/roboto-italic.woff") format("woff"), url("roboto/roboto-italic.ttf") format("truetype"), url("roboto/roboto-italic.svg#robotoitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/roboto-medium.eot");
  src: local("Roboto Medium"), url("roboto/roboto-medium.eot?#iefix") format("embedded-opentype"), url("roboto/roboto-medium.woff2") format("woff2"), url("roboto/roboto-medium.woff") format("woff"), url("roboto/roboto-medium.ttf") format("truetype"), url("roboto/roboto-medium.svg#robotomedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/roboto-mediumitalic.eot");
  src: local("Roboto Medium Italic"), url("roboto/roboto-mediumitalic.eot?#iefix") format("embedded-opentype"), url("roboto/roboto-mediumitalic.woff2") format("woff2"), url("roboto/roboto-mediumitalic.woff") format("woff"), url("roboto/roboto-mediumitalic.ttf") format("truetype"), url("roboto/roboto-mediumitalic.svg#robotomedium_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/roboto-bold.eot");
  src: local("Roboto Bold"), url("roboto/roboto-bold.eot?#iefix") format("embedded-opentype"), url("roboto/roboto-bold.woff2") format("woff2"), url("roboto/roboto-bold.woff") format("woff"), url("roboto/roboto-bold.ttf") format("truetype"), url("roboto/roboto-bold.svg#robotobold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("roboto/roboto-bolditalic.eot");
  src: local("Roboto Bold Italic"), url("roboto/roboto-bolditalic.eot?#iefix") format("embedded-opentype"), url("roboto/roboto-bolditalic.woff2") format("woff2"), url("roboto/roboto-bolditalic.woff") format("woff"), url("roboto/roboto-bolditalic.ttf") format("truetype"), url("roboto/roboto-bolditalic.svg#robotobold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("roboto/robotocondensed-light.eot");
  src: local("Roboto Condensed Light"), url("roboto/robotocondensed-light.eot?#iefix") format("embedded-opentype"), url("roboto/robotocondensed-light.woff2") format("woff2"), url("roboto/robotocondensed-light.woff") format("woff"), url("roboto/robotocondensed-light.ttf") format("truetype"), url("roboto/robotocondensed-light.svg#roboto_condensedlight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("roboto/robotocondensed-lightitalic.eot");
  src: local("Roboto Condensed Thin Italic"), url("roboto/robotocondensed-lightitalic.eot?#iefix") format("embedded-opentype"), url("roboto/robotocondensed-lightitalic.woff2") format("woff2"), url("roboto/robotocondensed-lightitalic.woff") format("woff"), url("roboto/robotocondensed-lightitalic.ttf") format("truetype"), url("roboto/robotocondensed-lightitalic.svg#roboto_condensedlight_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
/*# sourceMappingURL=barceloneta.css.map */