//*// BREADCRUMBS //*//

#plone-breadcrumb {
  background-color: $breadcrumb-bg;
  margin-bottom: $breadcrumb-font-size;
 .breadcrumb {
    background-color: transparent;
  }

  /* uncomment to hide breadcrumbs on home
  body.section-front-page & {display: none;} //not breadcrumbs on homepage
  */
}