.document-byline {
  margin-bottom: 0.5rem;

  .byline-section {
    margin-right: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .byline-label {
    font-weight: 500;
  }

  .byline-value {
  }

  .document-copyright {
    margin-bottom: 1rem;
  }

}