.document-byline {

  .byline-section {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .byline-label {
    font-weight: bold;
    color: $gray-700;
  }

  .byline-value {
  }

  .document-copyright {
    margin-bottom: $spacer;
  }

}