main {
  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: 1rem;
}

article {
  >header {
    margin-bottom: 2rem;
  }
}

#content-core {
  margin-bottom: 2rem;
}

#section-related {
  margin-bottom: 2rem;
}

#section-category {
  margin-bottom: 2rem;
}

.section-heading {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
