.required:after {
    color: $danger;
    content: '•';
    font-size:$font-size-lg;
    line-height: 1;
}

.form-group {
    .select2-container {
        display:block;
    }
}

/* relateditems widget */
.pattern-relateditems-result {
    .pattern-relateditems-result-browse-wrapper {
        .pattern-relateditems-result-browse {
            font-size: $font-size-base;
        }
    }
}

.select2-results .select2-highlighted {
    color:$link-hover-color;
}

.pattern-relateditems-item-title,
.pattern-relateditems-result-title {
    font-size: $font-size-lg;
}
