//colors
$plone-toolbar-draft-color: #fab82a!default; // lime-yellow //draft is visible
$plone-toolbar-pending-color: #e2e721!default; // orange
$plone-toolbar-private-color: #c4183c!default; // red
$plone-toolbar-internal-color: #fab82a!default; // is draft
$plone-toolbar-internally-published-color: #883dfa!default; // is intranet

//grays
$plone-gray-darker: lighten(#000, 20%)!default; // #333
$plone-gray-dark: lighten(#000, 30%)!default; // #4c4c4c
$plone-gray: lighten(#000, 41%)!default; // #696969
$plone-gray-light: lighten(#000, 46.5%)!default; // #767676 //discreet
$plone-gray-lighter: lighten(#000, 80%)!default; // #ccc //disableds like

// Plone
$plone-link-color: #007bb1!default; //plone blue made slightly darker for wcag 2.0
$plone-link-color-on-dark: #16a1e3!default; //plone blue
//if you need different contrast
$plone-link-color-on-grey: #086ca3!default; //valid wcag 2.0
$plone-link-hover-color: darken($plone-link-color, 15%)!default;

//*// SCAFFOLDING
$plone-body-bg: #fafafa!default; //almost-white
$plone-footer-bg: #2e3133!default; //blued-darkgray

$theme-colors: (primary: $plone-link-color)!default;


//*// PORTLETS
$plone-portlet-list-hover-bg: #fcfcfd!default;
$plone-portlet-footer-bg: #fcfcfd!default;
// @plone-portlet-header-bg: #f2f1f1;
// @plone-portlet-header-color: @plone-gray;
// @plone-portlet-content-bg: #fff;
// @plone-portlet-border: @plone-border-base #e5e5e5;
// @plone-portlet-contrast-bg: #e5e5e5;
// @plone-portlet-event-bullet: #dbecfe;
$plone-portlet-list-bullet: #64bee8!default;
// @plone-portlet-list-small-text: @plone-gray;
$plone-portlet-navtree-maxlevel: 5!default;
