// Body
//
// Settings for the `<body>` element.

$body-bg: $plone-body-bg;
$body-color: $plone-gray-dark;

$spacer: 1rem;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-row-columns: 6;

$grid-main-breakpoint: md;
$nav-main-breakpoint: $grid-main-breakpoint;

//*// TYPOGRAPHY
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; // Roboto seems Plone's DIN
$font-family-condensed: "Roboto Condensed", "Arial Narrow", sans-serif; //just on toolbar
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 0.875rem;
$font-size-lg: 1rem;
$font-size-sm: $font-size-base * .875;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$h1-font-size: $font-size-base * 2.857;
$h2-font-size: $font-size-base * 2.143;
$h3-font-size: $font-size-base * 1.7138;
$h4-font-size: $font-size-base * 1.286;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.85;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.428;

$headings-margin-bottom: $spacer / 2;
$headings-font-family: null;
$headings-font-weight: 400;
$headings-line-height: 1.2;
$headings-color: null;

// TODO use font-base-size variables
// Buttons + Forms
// $input-btn-font-size: 0.875rem;


// TODO CLEANUP
//*// SITE NAV
$sitenav-height: 50px;
$sitenav-margin-bottom: $line-height-base;
$sitenav-border-radius: $border-radius;
$sitenav-padding-horizontal: floor(($grid-gutter-width / 2));
$sitenav-padding-vertical: ($sitenav-height);
$sitenav-collapse-max-height: 340px;
$sitenav-link-hover-bg: #7099bf;
$sitenav-bg: $link-color;
$sitenav-hover-bg: $link-color;

$sitenav-link-padding: $spacer * 0.75 $spacer;

$navbar-padding-y: 0;
$navbar-padding-x: 0;
