// TODO CLEANUP
//*// SITE NAV
$sitenav-height: 50px;
$sitenav-margin-bottom: $line-height-base;
$sitenav-border-radius: $border-radius;
$sitenav-padding-horizontal: floor(($grid-gutter-width / 2));
$sitenav-padding-vertical: ($sitenav-height);
$sitenav-collapse-max-height: 340px;
$sitenav-link-hover-bg: #7099bf;
$sitenav-bg: $link-color;
$sitenav-hover-bg: $link-color;

$sitenav-link-padding: $spacer * 0.75 $spacer;

$navbar-padding-y: 0;
$navbar-padding-x: 0;

// Breadcrumbs

$breadcrumb-font-size: $font-size-sm;
