/*
Error: Invalid CSS after "...ntainer-fixed()": expected "{", was ";"
        on line 151 of /Users/albert/Development/plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/grid.plone.scss

146: }
147: *\/
148: 
149: // toolbar needs to match grid
150: #edit-zone.plone-toolbar-top .plone-toolbar-container {
151:   @mixin container-fixed();
152:   @media (min-width: $plone-screen-sm-min) {
153:     width: $plone-container-sm;
154:   }
155:   @media (min-width: $plone-screen-md-min) {
156:     width: $plone-container-md;

Backtrace:
/Users/albert/Development/plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/grid.plone.scss:151
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1165:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1101:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1096:in `tok!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:641:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:231:in `mixin_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:219:in `special_directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:194:in `directive'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:661:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:650:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:642:in `block'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:635:in `ruleset'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:660:in `block_child'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:653:in `block_contents'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:42:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:393:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:404:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ntainer-fixed()\": expected \"{\", was \";\"\A         on line 151 of /Users/albert/Development/plonetheme.barceloneta/plonetheme/barceloneta/theme/scss/grid.plone.scss\A \A 146: }\A 147: */\A 148: \A 149: // toolbar needs to match grid\A 150: #edit-zone.plone-toolbar-top .plone-toolbar-container {\A 151:   @mixin container-fixed();\A 152:   @media (min-width: $plone-screen-sm-min) {\A 153:     width: $plone-container-sm;\A 154:   }\A 155:   @media (min-width: $plone-screen-md-min) {\A 156:     width: $plone-container-md;"; }
